[submodule "sigarUtill"]
	path = sigarUtill
	url = https://github.com/Sangjun1/sigarUtill.git
	branch = master
[submodule "CodeTest"]
	path = CodeTest
	url = https://github.com/Sangjun1/CodeTest.git
	branch = master
[submodule "helloReact"]
	path = helloReact
	url = https://github.com/Sangjun1/helloReact.git
